.chat-room-login-container {
    position: fixed;
    width: 380px;
    top: 45%;
    left: 50%;
    margin-left: -190px;
    margin-top: -130px;
    z-index: 999;
}

.chat-room-login-icon {
    margin-right: 10px;
}