/*右边信息*/
.chat-room-message {
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
}

.chat-room-message-body {
    padding: 10px;
    height: 63%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.chat-room-message-header {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    height: 10%;
    line-height: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d1d1d1;
}

.chat-room-message-header-username {
    line-height: 20px;
}

.chat-room-message-body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0);
}

.chat-room-message-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(240, 240, 240, 0);
    border-radius: 10px;
    background-color: rgba(0, 89, 255, 0);
}

.chat-room-message-body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 89, 255, 0);
}


.chat-room-message-item-send:after .chat-room-message-item-receive:after {
    display: block;
    content: "";
    clear: both;
}

.chat-room-message-item-avatar {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: block;
}

.chat-room-message-item-send .chat-room-message-item-avatar {
    float: right;
}

.chat-room-message-item-receive .chat-room-message-item-avatar {
    float: left;
}

.chat-room-message-item-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 4px;
}

/*自己发送的消息*/
.chat-room-message-item-send {
    margin-top: 10px;
    width: 100%;
    text-align: right;
}

/*别人发送的消息*/
.chat-room-message-item-receive {
    margin-top: 10px;
    text-align: left;
    width: 100%;
}


.chat-room-message-item-info {
    line-height: 20px;
    font-size: 12px;
}

.chat-room-message-item-text, .chat-room-message-item-file, .chat-room-message-item-audio {
    margin-top: 4px;
    white-space: pre;
    display: inline-block;
    line-height: 20px;
    min-height: 36px;
    padding: 8px;
    position: relative;
    border-radius: 4px;
    background: #FFFFFF;
    font-size: 12px;
    color: #6d6d6d;
    word-wrap: break-word;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
}

.chat-room-message-item-send .chat-room-message-item-text:after,
.chat-room-message-item-send .chat-room-message-item-file:after,
.chat-room-message-item-send .chat-room-message-item-audio:after {
    display: block;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    left: 100%;
    border-top: 5px solid transparent;
    border-left: 5px solid white;
    border-bottom: 5px solid transparent;
    top: 15px;
}

.chat-room-message-item-receive .chat-room-message-item-text:after,
.chat-room-message-item-receive .chat-room-message-item-file:after,
.chat-room-message-item-receive .chat-room-message-item-audio:after {
    display: block;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    right: 100%;
    border-top: 5px solid transparent;
    border-right: 5px solid #FFFFFF;
    border-bottom: 5px solid transparent;
    top: 15px;
}

/*file 类型信息*/

/*file hover 的时候修改file-info的样式*/
.chat-room-message-item-file:hover .chat-room-message-item-file-info {
    cursor: pointer;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(0, 0, 0, 0);
    background-image: url("../../images/download.svg");
}

.chat-room-message-item-file-icon {
    font-size: 30px;
    color: #1890ff;
}

.chat-room-message-item-file-info {
    margin-left: 10px;
    display: inline-block;
    padding-right: 10px;
}

.chat-room-message-item-filename {
    font-weight: bold;
    font-size: 14px;
}

.chat-room-message-item-filesize {
    display: inline-block;
    font-size: 10px;
}

.chat-room-message-item-audio:hover {
    cursor: pointer;
}

.chat-room-message-item-send .chat-room-message-item-audio-icon img {
    height: 20px;
    float: right;
    display: inline-block;
}

.chat-room-message-item-send .chat-room-message-item-audio-duration {
    padding-right: 20px;
}

.chat-room-message-item-receive .chat-room-message-item-audio-icon img {
    height: 20px;
    float: left;
    display: inline-block;
}

.chat-room-message-item-receive .chat-room-message-item-audio-duration {
    padding-right: 20px;
}

/*modal 样式*/

.chat-room-audio-modal-text {
    text-align: center;
}